body {
    display: flex;
    margin: 0;
    background-color: #3A3838;
    font-family: "Source Sans";
}

@font-face {
    font-family: "Photograph Signature";
    src: url(fonts/Photograph-Signature.ttf);
}

@font-face {
    font-family: "Source Sans";
    src: url(fonts/SourceSans3-Regular.ttf);
}

@font-face {
    font-family: "Source Sans";
    src: url(fonts/SourceSans3-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans";
    src: url(fonts/SourceSans3-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Source Sans";
    src: url(fonts/SourceSans3-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}

#leftPanel {
    width: 37.2vw;
    background-image: url(img/background.jpg);
    background-size: cover;
    height: 100vh;
}

#rightPanel {
    width: 62.8vw;
    height: 100vh;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
}

#logo {
    height: 14.8vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    gap: 3vh;
    margin-top: 20vh;
}

#logo-text {
    color: white;
    font-size: 12vh;
    align-self: center;
    font-family: "Photograph Signature";
}

#credits {
    color: white;
    /* font-family:'Courier New', Courier, monospace; */
    text-align: center;
    margin-top: 60vh;
    font-size: 16px;
}

#credits > a:visited {
    color: white;
}

#rightPanelTop {
    height: 36.1vh;
    font-size: 3vh;
    text-align:left;
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 10vw;
    box-sizing: border-box;
}

#rightPanelForm {
    height: 29.4vh;
    background-color: white;
    box-shadow: 0px 5px 5px #cecfd0;
    padding-left: 3vw;
    box-sizing: border-box;
}

#rightPanelForm > p {
    font-size: 3vh;
    margin-top: 15px;
    color: #575e69;
}

#rightPanelBottom {
    height: 34.5vh;
}

#rightPanelTop > p {
    margin-bottom: 0px;
}